[
    {party_client, [
        {services, #{
            party_management => "http://party-management:8022/v1/processing/partymgmt"
        }},
        {woody, #{
            cache_mode => safe,  % disabled | safe | aggressive
            options => #{
                woody_client => #{
                    event_handler => {scoper_woody_event_handler, #{
                        event_handler_opts => #{
                            formatter_opts => #{
                                max_length => 1000
                            }
                        }
                    }}
                }
            }
        }}
    ]},
].
