[
    {party_client, [
        {service_urls, #{
        }}
    ]},
    {scoper, [
        {storage, scoper_storage_lager}
    ]},
    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/party_client"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]}
].
